<?xml version="1.0" encoding="UTF-8"?>
	<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:rim="http://www.blackberry.com/ns/widgets"
		id="ppw-camera-plugin"
		version="1.0.41">

	<name>PPW Camera</name>
	<description>PhoneGap plugin to support a custom camera overlay</description>
	<author>Appnovation Technologies</author>

	<info>
		Property Pres Wizards custom camera overlay plugin
	</info>

	<js-module src="www/ppw_camera.js" name="PPWCamera">
		<clobbers target="navigator.PPWCamera" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.1.0" />
	</engines>

	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="PPWCamera">
				<param name="ios-package" value="PPWCamera" />
			</feature>
		</config-file>

		<header-file src="src/ios/MBProgressHUD.h" />
		<source-file src="src/ios/MBProgressHUD.m" />

		<header-file src="src/ios/PPWCamera.h" />
		<source-file src="src/ios/PPWCamera.m" />

		<header-file src="src/ios/PPWCameraViewController.h" />
		<source-file src="src/ios/PPWCameraViewController.m" />
		<resource-file src="src/ios/PPWCameraViewController.xib" />

		<resource-file src="src/shared/flaticon_ppw_camera.ttf" />

    <config-file target="*-Info.plist" parent="UIAppFonts">
			<array>
				<string>flaticon_ppw_camera.ttf</string>
				<key>NSCameraUsageDescription</key>
				<string>Takes pictures</string>
			</array>
    </config-file>

    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
    	<string>Required to Save Photo GPS Data</string>
    </config-file>

    <config-file target="*-Info.plist" parent="UIFileSharingEnabled">
    	<true/>
    </config-file>

    <framework src="QuartzCore.framework" />
    <framework src="UIKit.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="ImageIO.framework" />
    <framework src="AssetsLibrary.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="CoreLocation.framework" />

	</platform>

	<platform name="android">

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:label="PPWCameraActivity" android:name="com.appnovation.ppw_camera.PPWCameraActivity" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
      </activity>
      <activity android:label="PPWCameraActivity2" android:name="com.appnovation.ppw_camera.PPWCameraActivity2" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" >
      </activity>
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PPWCamera">
          <param name="android-package" value="com.appnovation.ppw_camera.PPWCamera"/>
      </feature>
    </config-file>

    <source-file src="src/android/PPWCamera.java" target-dir="src/com/appnovation/ppw_camera" />
    <source-file src="src/android/PPWCameraActivity.java" target-dir="src/com/appnovation/ppw_camera" />
    <source-file src="src/android/PPWCameraPreview.java" target-dir="src/com/appnovation/ppw_camera" />
    <source-file src="src/android/PPWCameraActivity2.java" target-dir="src/com/appnovation/ppw_camera" />
    <source-file src="src/android/AutoFitTextureView.java" target-dir="src/com/appnovation/ppw_camera" />
    <source-file src="src/android/activity_ppw_camera.xml" target-dir="res/layout"/>
    <source-file src="src/android/activity_ppw_camera2.xml" target-dir="res/layout"/>
    <source-file src="src/android/sanselan-0.97-incubator.jar" target-dir="libs" />

    <config-file target="AndroidManifest.xml" parent="/manifest">
	    <uses-permission android:name="android.permission.CAMERA" />
	    <uses-permission android:name="android.permission.FLASHLIGHT" />
	    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	    <uses-feature android:name="android.hardware.camera" />
	    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    </config-file>

    <resource-file src="src/android/round_btn_large_ppw_camera.xml" target="res/drawable/round_btn_large_ppw_camera.xml" />
    <resource-file src="src/android/round_btn_small_ppw_camera.xml" target="res/drawable/round_btn_small_ppw_camera.xml" />
    <resource-file src="src/android/strings_ppw_camera.xml" target="res/values/strings_ppw_camera.xml" />

    <resource-file src="src/shared/flaticon_ppw_camera.ttf" target="assets/flaticon_ppw_camera.ttf" />

  </platform>

</plugin>
